<div class="widget-wrap">
    <div class="widget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- melon blog right bar -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:250px;height:250px"
            data-ad-client="ca-pub-7566595557663230"
            data-ad-slot="2165541023"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>